// CSS
@import "../../mixins.scss";
.castSection {
  position: relative;
  .sectionHeading {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    @include md {
      font-size: 24px;
    }
  }
  .listItems {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    // margin-right: -20px;
    // margin-left: -20px;
    // padding: 0 20px;
    @include md {
      margin: 0;
      padding: 0;
    }
    .listItem {
      text-align: center;
      color: white;

      .profileImg {
        width: 130px;
        height: 170px;
        border-radius: 20px;
        overflow: hidden;
        // margin-bottom: 15px;
        @include md {
          width: 200px;
          height: 270px;
          margin-bottom: 25px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center top;
          display: block;
        }
        .avatarClass {
          width: 130px;
          height: 170px;
          @include md {
            width: 200px;
            height: 270px;
          }
        }
      }
      .name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        font-style: italic;
        @include md {
          font-size: 18px;
          line-height: 24px;
        }
      }
      .character {
        font-weight: 600;

        font-style: italic;
        font-size: 14px;
        line-height: 20px;
        opacity: 0.5;
        @include md {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .castSkeleton {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
    @include md {
      margin: 0;
      padding: 0;
    }
    .skItem {
      .circle {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin-bottom: 15px;
        @include md {
          width: 175px;
          height: 175px;
          margin-bottom: 25px;
        }
      }
      .row {
        width: 100%;
        height: 20px;
        border-radius: 10px;
        margin-bottom: 10px;
      }
      .row2 {
        width: 75%;
        height: 20px;
        border-radius: 10px;
        margin: 0 auto;
      }
    }
  }
}
.opacity-layer {
  width: 200px;
  height: 270px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--black) 90%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
