.Rounded-Footer-menu {
  padding: 0.2rem 1rem;
  // margin: 0px 10px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.2s;
  background: rgba(149, 149, 149, 0.264);
}
.Rounded-Footer-menu:hover {
  border-radius: 20px;
  transition: 0.2s;
  background: white;
  color: black;
}
.icon {
  padding: 0.7rem;
  height: 22px;
  width: 22px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(149, 149, 149, 0.264);
}
.icon:hover {
  border-radius: 50px;
  padding: 0.7rem;
  height: 22px;
  width: 22px;
  transition: 0.2s;
  background: white;
  color: black;
}
