@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Argent";
  src: url(../src/assets/Argent\ CF.otf);
}
@import "./mixins.scss";

:root {
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000000;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #da2f68;
  --orange: #f89e00;
  --red: #da0101;
  --gradient: linear-gradient(98.37deg, var(--red) 0.99%, #a30000 100%);
}
// font-family: 'Alegreya', serif;
* {
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

// ::-webkit-scrollbar {
//   display: none;
// }

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #242424;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#626262, 0) 0,
      rgba(#626262, 0.1) 20%,
      rgba(#626262, 0.5) 60%,
      rgba(#626262, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
.global-button {
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 30px;
  height: 42px;
  font-weight: bolder;
  transition: 0.2s;
  background-color: var(--red);
}
.global-button:hover {
  background-color: #cb0000;
  transition: 0.2s;
}
.italic-bold {
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-style: italic;
}
.italic-bold-title {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  // text-transform: uppercase;
  line-height: 1.3;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bolder {
  font-weight: 900;
}

.detail-button {
  padding: 0px 0.8rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-style: italic;
  transition: 0.2s;
  border: none;
  border-radius: 30px;
  background-color: var(--red);
}
.detail-button span {
  font-size: 18px;
}
.detail-button:hover {
  background-color: #cb0000;
  transition: 0.2s;
}
