@import "../../../mixins.scss";

.hero-banner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .opacity-layer-2 {
    background-color: var(--black);
    opacity: 0.9;
  }
  .opacity-layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--black) 98%);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .banner-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
    height: 625px;
    @include md {
      height: 100%;
    }
  }

  .banner-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
  }

  .banner-title {
    font-family: "Argent";
    font-size: 3.8rem;
    font-weight: bolder;

    @include md {
      font-size: 7rem;
      margin-bottom: 0rem;
    }
  }

  .banner-subtitle {
    line-height: 1.2;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bolder;
    @include md {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }
  }

  .banner-search {
    display: flex;
    align-items: center;
    justify-content: center;

    .search-input {
      padding: 0.5rem 1rem;
      border: 0;
      outline: 0;
      height: 42px;
      background-color: white;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 210px;
      font-style: italic;
      font-weight: bolder;
      @include sm {
        width: 550px;
        height: 50px;
      }
      @include md {
        width: 600px;
        height: 50px;
      }
    }

    .search-button {
      padding: 0.5rem 1.3rem;
      cursor: pointer;
      border: 0;
      outline: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      height: 42px;
      font-weight: bolder;
      transition: 0.2s;
      background-color: #da0101;

      @include sm {
        padding: 0.5rem 2rem;
        height: 50px;
      }
    }
    .search-button:hover {
      background-color: #ea0000;
      transition: 0.2s;
    }
  }
}
